* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 39, 39);
    font-size: 30px;
    color: orange;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center; /* Center items vertically */
}

.clock {
    border: 4px solid #606060;
    color: orange;
    padding: 20px;
    font-family: ownfont;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.cal {
    border: 4px solid #606060;
    color: rgb(255, 200, 0);
    padding: 20px;
    font-family: "Anta";
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.clock ul,
.cal ul {
    list-style: none; /* removes the bullet points in the ul list */
    display: flex;
    font-size: 70px;
    gap: 2px;
}

#day, #date, #year, #month {
    text-align: center;
}

@font-face {
    font-family: ownfont;
    src: url(fonts/customized.TTF) format('truetype');
}

@font-face {
    font-family: myown;
    src: url(fonts/scoreboard.ttf);
}

